name: Workflow for Codecov

on: [push]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -U scikit-learn
          pip install pytest pytest-cov coverage setuptools cython

      - name: Build Cython extensions
        run: |
          python setup.py build_ext --inplace

      - name: Run tests with coverage
        run: |
          pytest tests/unittests.py --cov=classix --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
